<div class="container-fluid">
  <h1>Enrollment Form Using BootStrap</h1>
  <div class="alert alert-danger" *ngIf="errorMsg">
    {{errorMsg}}
  </div>
  <form #userForm="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>

    <pre>{{ userForm.value | json }}</pre>
    For getting value we use value property and pass it on json pipe
    
    <hr/>
    {{userModel | json}}
    <pre>    {{userForm.form.valid}}</pre>

    <!-- create group of address div and add form-group class  
    <div ngModelGroup="address">

        <div class="form-group mt-3">
          <label>Street</label>
          <input type="text" class="form-control" name="street" ngModel>
        </div>

        <div class="form-group mt-3">
          <label>City</label>
          <input type="text" class="form-control" name="city" ngModel>
        </div>

        <div class="form-group mt-3">
          <label>State</label>
          <input type="text" class="form-control" name="state" ngModel>
        </div>

        <div class="form-group mt-3">
          <label>Pincode</label>
          <input type="text" class="form-control" name="pincode" ngModel>
        </div>

    </div> -->

    
    <div class="form-group mt-3">
      <label>Name</label>
      <input type="text" required #name="ngModel" 
      [class.is-invalid]="name.invalid && name.touched"class="form-control" name="userName" [(ngModel)]="userModel.name">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is reqiured</small>

    </div>

    <!-- {{name.valid}} -->

    <div class="form-group mt-3">
      <label>Email</label>
      <input type="email" class="form-control"  name="email" [(ngModel)]="userModel.email">
    </div>

    <div class="form-group mt-3">
      <label>Phone</label>
      <input type="tel" #phone="ngModel" pattern="^\d{10}$" required
      [class.is-invalid]="phone.invalid && phone.touched" class="form-control" name="phone" [(ngModel)]="userModel.phone">
     
      <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Phone number is required and must be 10 digit</small> -->
      <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" *ngIf="phone.errors['required']">Phone number is required</small>
          <small class="text-danger" *ngIf="phone.errors['pattern']">Phone number must be 10 digits</small>
      </div>

    </div> 
    
    <div class="form-group mt-3">
      <select (blur)="validateTopic(topic.value)" (change)="validateTopic(topic.value)" required #topic="ngModel" [class.is-invalid]="topicHasError && topic.touched" class="form-select" name="course" [(ngModel)]="userModel.topic">
        <option value="default">Choose Course</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>

      <small class="text-danger" [class.d-none]="!topicHasError || topic.untouched"> Please choose a topic </small>
    </div> 

    <div class="mt-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" [(ngModel)]="userModel.timePreference" name="timePreference" value="morning">
        <label class="form-check-label">Morning (9 AM - 12 PM)</label>
      </div>

      <div class="form-check">
        <input type="radio" class="form-check-input" [(ngModel)]="userModel.timePreference" name="timePreference" value="evening">
        <label class="form-check-label">Evening (5 PM - 8 PM)</label>
      </div>
    </div>

    <div class="form-check mt-3">
      <input type="checkbox" class="form-check-input" name="subscibe" [(ngModel)]="userModel.subscribe">
      <label class="form-check-label">Send Me a Promotional Offers </label>
    </div>

    <button [disabled]="userForm.invalid || topicHasError" type="submit" class="btn btn-primary mt-3">Submit</button>

  </form> 

</div>