<h1>Welcome to  {{hotelName}} </h1> 
<!-- using Interpolation here {{ }} -->

Number of Rooms Available:
<div [innerText]="numberOfRooms"></div>
<!-- using Property Binding here [ ] -->
 <!-- "" called as variable or property and '' as string --> 
 <!-- "numberOfRooms" is a property of the component class and it is being displayed in the div element --> 
<!-- in javascript we can use innerText property to set the text of an element
example 
document.getElementById("demo").innerText = "Hello World!";   -->

<!-- Event Binding for collecting and interact with user and data -->

<button (click)="openToggle()">Toggle</button>
<!-- instad of onclick we use (click) in angular -->

<div [hidden]="hideRooms"> 
    This is hide and show content by Toggle button
    <!-- hidden="hideRooms" here hidden is dom property and hideRooms is a property of the component class -->
</div>


<!-- but this is using hidden which will be seen on browser inspect element but not on the page -->
<button (click)="Toggle()">Toggle</button>
<div *ngIf="hideRoomswithng">
    This is hide and show content by Toggle button by using *ngIf
    <!-- *ngIf="hideRooms" here *ngIf is a structure directive and hideRooms is a property of the component class -->
</div>

<!-- Directive :Structure and Attribute Directives
structure directive are ngIf, ngFor, ngSwitch (*ngIf, *ngFor, *ngSwitch)    
atrribute directive are ngStyle, ngClass, ngModel [ngStyle], [ngClass], [(ngModel -->


<!-- first we create room.ts for interace -->

<!-- <div *ngIf="rooms.totalRoom > 0">
    Room List
    it will not show because i have put totalRoom zero there
</div> -->


<!-- Optional Chaining Operator (?.) in Angular -->
<!-- {{ rooms.availableRoom ?? 'No Rooms Available'}} -->
<!-- //if avaibale rooms is not exist -->
 <!-- for this there are made in room.ts and ts file as
 rooms : Room = {
    
 } and
 export interface Room{
    totalRoom?: number;
    availableRoom?: number;
    bookedRoom?: number;
} -->


<div *ngIf="rooms?.availableRoom">
    Room List
</div>


<!-- //Binding Array -->
<div *ngIf="rooms.availableRoom > 0">

    Room List
    <!-- {{roomList}} -->

    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Price</th>
            <th>Room Amenities</th>
            <th>CheckIn Time</th>
           
        </tr>
        <tr 
            [ngClass]="e ? 'even' : 'odd'"
            *ngFor="let room of roomList; let e=even; let o=odd; let i =index">
            <!-- Here we use slice pipe to get the first 3 characters of the roomType 
            <tr [ngClass]="e ? 'even' : 'odd'"
            *ngFor="let room of roomList | slice :0:3; let e=even; let o=odd; let i =index"> -->
            <td>{{i | percent}}</td>
            <td>{{e ? "Even" :"Odd"}}</td>
            <td>{{room.roomNumber}}</td>
            <td>{{room.roomType | uppercase}}</td>
            <td>{{room.price | currency:'INR'}}</td>
            <td>{{room.amenities | titlecase}}</td>
            <td>{{room.checkInTime | date}}</td>
        </tr>
    </table>
</div>

<div [ngStyle]="{'color':rooms.availableRoom > 0 ? 'green' : 'red'}">
    Room List ngStyle
</div>

<!-- {{ rooms?.availableRoom ?? 'No Rooms Available'}} remember this -->
 {{roomList | json}}  <!--  using pipe so that i will so as object in json -->