<p>test works!</p>
{{name}},
{{name.length}},
{{"Welcome "+ name}},
{{greetUser()}}


<!-- Now what you cant do -->
 
 <!-- {{a=2+2}}
    {{window.location.href}}
    {{console.log("Hello")}}
    {{window.alert("Hello")}}
    {{document.getElementById("test").innerHTML="Hello"}} -->

<input type="text" value="Jaiswal1">

<!-- property binding -->
<input [id]="myId" type="text" value="Jaiswal1">
<!-- syntax: [HtmlAttribute]="property or variable" -->
<br>
Interpolation Limitations:
Only string values works
Example
<br>
<input [id]="myId" disabled type="text" value="Jaiswal1"> 
now this disabled but

<br>
<input [id]="myId" disabled=""false type="text" value="Jaiswal1"> 
by ,making disabled= false it still will not work

<br>

<input [id]="myId" [disabled]="false" type="text" value="Jaiswal1">
now this works becaue we use property binding [disabled]="false" 

<br>

<input [id]="myId" [disabled]="isDisabled" type="text" value="Jaiswal1">
<br>
other way to use [disabled] as bind-disabled
<input [id]="myId" bind-disabled="isDisabled" type="text" value="Jaiswal1">



<h1 class="text-success">hello ji this is Regular Way </h1>

<h1 [class]="successClass">hello ji this is class binding</h1>

<h1 class="text-check" [class]="successClass">hello ji this is class binding</h1>
 
<h1 [style.color]=" hasError ? 'red' : 'green' ">hello ji this is style binding</h1>


<h1 [ngStyle]="titleStyles">hello ji this is style binding</h1>

<button (click)="clickHere($event)">Greet</button>

{{greeting}}

<input #myInput type="text">
<button (click)="logMessage(myInput.value)">Log</button>
<button (click)="logMessage(myInput)">WithReferecing</button>



<h1>ngModal</h1>

<input  [(ngModel)]="fname" type ="text" placeholder="type here">
{{fname}}


<h1>ngif</h1>

<h2 *ngIf="displayName ; else elseBlock">It workings guyz</h2>

<ng-template #elseBlock>
<h2 >Name is hidden</h2>

</ng-template>



Now the example of then and else

<div *ngIf="displayName; then thenBlock; else elsekaBlock"></div>

<ng-template #thenBlock>
    <h2 >See this what it is</h2> 
</ng-template>

<ng-template #elsekaBlock>
     <h2 >Nothing to see here</h2>      
</ng-template>

<div [ngSwitch]="color">
    <div *ngSwitchCase="'red'">You Picked red color</div>
    <div *ngSwitchCase="'blue'">You Picked blue color</div>
    <div *ngSwitchCase="'orange'">You Picked orange color</div>
    <div *ngSwitchDefault>Pick Again</div>
</div>

ngfor it have multiiple ways to use like index,first,last,even,odd 
<div *ngFor="let color of rang; index as i;">
  <h3> {{i}} {{color}}</h3>
</div>

<h2>{{"Hello  " + parentData}}</h2>

<button (click)="fireEvent()">Send Event</button>


<h2>Service Example</h2>
<h2>Student Details</h2>
<ul *ngFor="let person of persons">
    <li>{{person.id}}.  {{person.name}} - {{person.age}}</li>
</ul>
